.basket-total {
  font-size: 22px
}
.basket-total-title {
  font-size: 30px;
}
.basket-discount-title {
  font-size: 18px;
}
.basket-discount {
  font-size: 15px;
}
.basket-total-holder {
  padding: 10px 15px;
  border-bottom: 1px solid #ededed;
}
.status { font-size: 15px }
.active { font-size: 15px; color: greenyellow}
.inactive { font-size: 15px; color: red}