body { padding: 20px; }
.timeslot-selected {
  color: #fff !important;
  background: #00b5e2 !important;
  border: 1px solid #00b5e2 !important;
  box-shadow: inset 5px 6px 10px -6px rgba(0,0,0,.5) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  &:hover {
    border: 1px solid #008caf !important;
  }
}
.icon-tick2 {
  color: #7fba23;
}
.get-new-config-btn {
  width: 200px;
  padding: 15px 10px;
  margin-bottom: 10px;
  transition: background 1s ease;
}
.row-hide { display: none }
